Repository hv0905/NekoImageGallery, pull requests merged in 2024-06, with the labels that each got.

#32 Allow setting thumbnail mode when uploading
  .github/workflows/test_lint.yml
  app/Controllers/admin.py
  app/Controllers/search.py
  app/Models/api_models/admin_query_params.py
  app/Models/img_data.py
  app/Services/upload_service.py
  scripts/local_create_thumbnail.py
  tests/api/conftest.py
  tests/api/integrate_test.py
  tests/api/test_upload.py
Labels: enhancement, size:L

#34 Allow editing url and thumbnail_url for non-local image in update_opt API
  app/Controllers/admin.py
  app/Models/api_models/admin_api_model.py
  tests/api/integrate_test.py
  tests/api/test_upload.py
Labels: enhancement, size:L, test

#36 Reproducible random pick and #35
  app/Controllers/admin.py
  app/Controllers/search.py
  app/Services/transformers_service.py
  app/Services/upload_service.py
  tests/api/conftest.py
  tests/api/integrate_test.py
  tests/api/test_upload.py
Labels: bug, size:M, test

#37 Fix the error where GIF file thumbnails could not be created properly
  app/Services/upload_service.py
  scripts/local_create_thumbnail.py
Labels: bug, size:XS

#38 feat: Add duplication validate API
  app/Controllers/admin.py
  app/Controllers/search.py
  app/Models/api_models/admin_api_model.py
  app/Models/api_models/search_api_model.py
  app/Models/api_response/admin_api_response.py
  app/util/generate_uuid.py
  tests/api/conftest.py
  tests/api/integrate_test.py
  tests/api/test_upload.py
  tests/assets/__init__.py
  tests/unit/test_image_uuid.py
Labels: bug, enhancement, size:L, test
